@model FrontEnd.Models.CategoryViewModel

<div>
    <h4>CategoryViewModel</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        @{
            string imageBase64 = Convert.ToBase64String(Model.Picture);
            string imageSrc = string.Format("data:ContentType = image/jpg;base64,{0}", imageBase64);

            <img src="@imageSrc" width="500" height="500" />

        }
@*       se acosutmbra a poner un _ en el nombre de las vistas parciales. nomeclatura estándar.
    no tiene scripts. no tiene plantilla ni llama al layouts., es lo mismo que tiene details nada mas. 
    se usa para ser llamado en Details, en vez de tener los campos en dEtails. asi puede ser reutilizada. 
    se usa para no tener que cambiar todas las pantallas individualmente sino que se reutiliza la misma "Detalles", por ejemplo
*@
    </dl>
</div>
