@model FrontEnd.Models.ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductViewModel</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierID)
        </dd>
@*        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryID)
        </dd>*@

        <partial name="_CategoryDetails" model="Model.Category"/>


        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discontinued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discontinued)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.ProductID  }) |
    <a asp-action="Index">Back to List</a>
</div>
